* {
     /* margin: 0;  */
    padding: 0;
    box-sizing: border-box;
    
}

body {
    
    font-size:medium;
    font-family: 'Oswald', sans-serif;
}


#logo{ width: 7rem;
       border-radius: 30%;
       display: flex;
       margin-left: 4rem;
       
    

}

.titulo{
        color:darkcyan ;
       
        
}


.navbar-nav .nav-link.active {
    color : darkcyan;
    margin-left: 7rem;
    
    

}

.btn-outline-success {
    color: darkcyan;
    border-color: darkcyan;
}

.carrito{
    width: 4rem;
    border-radius: 40%;
    margin-right: 3rem;
    margin-bottom: 8rem;
}

 #cards{
    display:flex;
    flex-direction: row;
 }






    
