* {
    /* margin: 0;  */
    padding: 0;
    box-sizing: border-box;

}


body {

    font-size: medium;
    font-family: 'Oswald', sans-serif;
}


#logo {
    width: 7rem;
    border-radius: 30%;
    display: flex;
    margin-left: 4rem;



}

.titulo {
    color: darkcyan;


}


.navbar-nav .nav-link.active {
    color: darkcyan;
    margin-left: 7rem;



}

#filtrar {
    color: darkcyan;
    border-color: darkcyan;
}

.carrito {
    width: 4rem;
    border-radius: 40%;
    margin-right: 3rem;
    margin-bottom: 8rem;
}

/* cards */

.foto {
    width: 18rem;
    margin-right: 5rem;
}

.card {
    margin-top: 3rem;
    margin-left: 3rem;
    display: flex;
    justify-content: center;
}

.card-text {
    text-align: center;
    font-weight: bolder;
}

.card-title {
    text-align: center;
    font-weight: bolder;

}

.dolares {
    text-align: center;
    font-weight: bolder;
    font-size: medium;
}

#boton {
    padding: 3px 12px;
    border-radius: 6px;
    font-weight: 700;
    color: rgb(2, 70, 70);
    margin-left: 3rem;

}

/* Carrito de compras */

.tituloCarrito {
    font-size: xx-large;
    font-weight: bolder;
    color: darkcyan;
}

.colorBoton {
    padding: 3px 12px;
    border-radius: 6px;
    font-weight: 700;
    color: rgb(2, 70, 70);
    margin-left: 3rem;
}

.colorBoton:hover {
    color: whitesmoke;
    background-color: rgb(4, 128, 128);
}

/* // formulario de registro  */

div label {
    padding: 10px;
    font-size: x-large;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(4, 53, 53);
}

div input {
    margin: 3px;
    padding: 5px;
    border-radius: 7px;
    border: none;
}

.tituloForm {
    font-size: xx-large;
    font-weight: bolder;
    color: darkcyan;
    display: flex;
    justify-content: center;
}

.borde-form {
    margin-left: 20%;
    padding: 15px;
    width: 65%;
    background: linear-gradient(30deg, #52b304, rgba(4, 87, 241, 0.856));
    display: grid;
    justify-content: space-around;
    border-radius: 10px;
}

.btnRegistro {
    padding: 3px 12px;
    border-radius: 6px;
    font-weight: 700;
    color: rgb(2, 70, 70);
    transition: background-color .3s;

}

.btnRegistro:hover {
    color: whitesmoke;
    background-color: rgb(72, 69, 247);
}